<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>comments</key>
			<integer>0</integer>
			<key>display</key>
			<integer>1</integer>
			<key>headImg</key>
			<string>goods/2016/1024/ff80808157e108f80157f582ec9c0032.jpg</string>
			<key>id</key>
			<integer>183</integer>
			<key>name</key>
			<string>S-0029（63发金卡丝印1/1）星光灿烂（天宇/华新）</string>
			<key>price</key>
			<integer>110</integer>
			<key>priceMk</key>
			<integer>123</integer>
			<key>sales</key>
			<integer>993</integer>
		</dict>
		<dict>
			<key>comments</key>
			<integer>0</integer>
			<key>display</key>
			<integer>1</integer>
			<key>headImg</key>
			<string>goods/2016/1020/ff80808157dfbf0e0157dfbf0e7e0000.jpg</string>
			<key>id</key>
			<integer>138</integer>
			<key>name</key>
			<string>S-0054（80发1/1）开开心心（天宇/比比）</string>
			<key>price</key>
			<integer>98</integer>
			<key>priceMk</key>
			<integer>109</integer>
			<key>sales</key>
			<integer>643</integer>
		</dict>
		<dict>
			<key>comments</key>
			<integer>0</integer>
			<key>display</key>
			<integer>0</integer>
			<key>headImg</key>
			<string>goods/2016/1018/ff80808157d577000157d687f554000a.jpg</string>
			<key>id</key>
			<integer>124</integer>
			<key>name</key>
			<string>喜祥红鞭炮响当当七彩炮C08（天宇）</string>
			<key>price</key>
			<integer>30</integer>
			<key>priceMk</key>
			<integer>30</integer>
			<key>sales</key>
			<integer>592</integer>
		</dict>
		<dict>
			<key>comments</key>
			<integer>0</integer>
			<key>display</key>
			<integer>1</integer>
			<key>headImg</key>
			<string>goods/2016/1024/ff80808157e108f80157f5d01291003f.jpg</string>
			<key>id</key>
			<integer>196</integer>
			<key>name</key>
			<string>S-0068（100发日景1/1）喜上加喜（天宇/彩天）</string>
			<key>price</key>
			<integer>118</integer>
			<key>priceMk</key>
			<integer>132</integer>
			<key>sales</key>
			<integer>590</integer>
		</dict>
		<dict>
			<key>comments</key>
			<integer>0</integer>
			<key>display</key>
			<integer>1</integer>
			<key>headImg</key>
			<string>goods/2016/1105/ff808081582e0613015833592678005c.jpg</string>
			<key>id</key>
			<integer>195</integer>
			<key>name</key>
			<string>S-0071（36发环保）发财花（颐和隆）(一箱8个)</string>
			<key>price</key>
			<integer>280</integer>
			<key>priceMk</key>
			<integer>312</integer>
			<key>sales</key>
			<integer>560</integer>
		</dict>
	</array>
	<key>result</key>
	<string>OK</string>
</dict>
</plist>
