<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1105/ff808081582e061301583356c8c10059.jpg</string>
			<key>id</key>
			<integer>231</integer>
			<key>name</key>
			<string>S-0052（80发日景1/1）开门红（天宇/腾祥）</string>
			<key>price</key>
			<integer>95</integer>
			<key>priceMk</key>
			<integer>106</integer>
			<key>sales</key>
			<integer>743</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2017/0117/ff8080815981d8500159aad51c42000f.jpg</string>
			<key>id</key>
			<integer>259</integer>
			<key>name</key>
			<string>S-0050（80发日景1/1）好彩头（天宇/腾祥）</string>
			<key>price</key>
			<integer>95</integer>
			<key>priceMk</key>
			<integer>106</integer>
			<key>sales</key>
			<integer>731</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1020/ff80808157dfbf0e0157dfbf0e7e0000.jpg</string>
			<key>id</key>
			<integer>138</integer>
			<key>name</key>
			<string>S-0054（80发1/1）开开心心（天宇/比比）</string>
			<key>price</key>
			<integer>98</integer>
			<key>priceMk</key>
			<integer>109</integer>
			<key>sales</key>
			<integer>643</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1105/ff808081582e061301583327cc1f0039.jpg</string>
			<key>id</key>
			<integer>187</integer>
			<key>name</key>
			<string>S-0035（80发金卡丝印1/1）财运步步高（天宇华新）</string>
			<key>price</key>
			<integer>108</integer>
			<key>priceMk</key>
			<integer>120</integer>
			<key>sales</key>
			<integer>816</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1024/ff80808157e108f80157f598bb4a0039.jpg</string>
			<key>id</key>
			<integer>190</integer>
			<key>name</key>
			<string>S-0036（80发金卡丝印1/1）恭喜发财（天宇/华新）</string>
			<key>price</key>
			<integer>108</integer>
			<key>priceMk</key>
			<integer>120</integer>
			<key>sales</key>
			<integer>693</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1024/ff80808157e108f80157f57960f2002f.jpg</string>
			<key>id</key>
			<integer>180</integer>
			<key>name</key>
			<string>S-0028（63发金卡丝印1/1）好兆头（天宇/华新）</string>
			<key>price</key>
			<integer>110</integer>
			<key>priceMk</key>
			<integer>123</integer>
			<key>sales</key>
			<integer>853</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2017/0117/ff8080815981d8500159aad997d60012.jpg</string>
			<key>id</key>
			<integer>260</integer>
			<key>name</key>
			<string>S-0051（100发日景1/1）家有喜事（天宇/腾祥）</string>
			<key>price</key>
			<integer>110</integer>
			<key>priceMk</key>
			<integer>132</integer>
			<key>sales</key>
			<integer>792</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1024/ff80808157e108f80157f58a456b0033.jpg</string>
			<key>id</key>
			<integer>184</integer>
			<key>name</key>
			<string>S-0030（63发金卡丝印1/1）魅力今宵（天宇/华新）</string>
			<key>price</key>
			<integer>110</integer>
			<key>priceMk</key>
			<integer>123</integer>
			<key>sales</key>
			<integer>761</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1024/ff80808157e108f80157f56f53ce002e.jpg</string>
			<key>id</key>
			<integer>179</integer>
			<key>name</key>
			<string>S-0027（63发金卡丝印1/1）好财运（天宇/华新）</string>
			<key>price</key>
			<integer>110</integer>
			<key>priceMk</key>
			<integer>123</integer>
			<key>sales</key>
			<integer>735</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1024/ff80808157e108f80157f5612ac1002b.jpg</string>
			<key>id</key>
			<integer>176</integer>
			<key>name</key>
			<string>S-0026（80发1/1）日景奇观（天宇/华新）</string>
			<key>price</key>
			<integer>115</integer>
			<key>priceMk</key>
			<integer>128</integer>
			<key>sales</key>
			<integer>991</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2017/0117/ff8080815981d8500159aaced0c1000c.jpg</string>
			<key>id</key>
			<integer>258</integer>
			<key>name</key>
			<string>S-0049（100发日景1/1）好日子（天宇/腾祥）</string>
			<key>price</key>
			<integer>118</integer>
			<key>priceMk</key>
			<integer>132</integer>
			<key>sales</key>
			<integer>624</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1104/ff80808158247aa601582d5ad70f0014.jpg</string>
			<key>id</key>
			<integer>205</integer>
			<key>name</key>
			<string>S-0006（60发环保1/1）多彩花冠（颐和隆）</string>
			<key>price</key>
			<integer>120</integer>
			<key>priceMk</key>
			<integer>130</integer>
			<key>sales</key>
			<integer>589</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1024/ff80808157e108f80157f59ba134003a.jpg</string>
			<key>id</key>
			<integer>191</integer>
			<key>name</key>
			<string>S-0061（100发1/1）老板大发（天宇/比比）</string>
			<key>price</key>
			<integer>123</integer>
			<key>priceMk</key>
			<integer>138</integer>
			<key>sales</key>
			<integer>856</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1109/ff8080815847d1c0015847d1c08c0000.jpg</string>
			<key>id</key>
			<integer>193</integer>
			<key>name</key>
			<string>S-0038（100发金卡丝印1/1）欢乐之夜（天宇/华新）</string>
			<key>price</key>
			<integer>130</integer>
			<key>priceMk</key>
			<integer>150</integer>
			<key>sales</key>
			<integer>936</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1105/ff808081582e0613015833190d10002b.jpg</string>
			<key>id</key>
			<integer>221</integer>
			<key>name</key>
			<string>S-0105（100发环保1/1）财到福到（颐和隆）</string>
			<key>price</key>
			<integer>150</integer>
			<key>priceMk</key>
			<integer>176</integer>
			<key>sales</key>
			<integer>800</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1105/ff808081582e06130158327a0a760025.jpg</string>
			<key>id</key>
			<integer>219</integer>
			<key>name</key>
			<string>S-0104（100发环保1/1）聚宝盆彩（颐和隆）</string>
			<key>price</key>
			<integer>150</integer>
			<key>priceMk</key>
			<integer>176</integer>
			<key>sales</key>
			<integer>722</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1024/ff80808157e108f80157f57a095e0030.png</string>
			<key>id</key>
			<integer>181</integer>
			<key>name</key>
			<string>S-0041（88发金卡丝印1/1）十全十美（天宇/集里）</string>
			<key>price</key>
			<integer>155</integer>
			<key>priceMk</key>
			<integer>188</integer>
			<key>sales</key>
			<integer>561</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1112/ff80808158565ac00158565ac0d00000.jpg</string>
			<key>id</key>
			<integer>237</integer>
			<key>name</key>
			<string>S-0123（70发1/1）天天发（庆泰）</string>
			<key>price</key>
			<integer>168</integer>
			<key>priceMk</key>
			<integer>210</integer>
			<key>sales</key>
			<integer>555</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1112/ff80808158565ac00158566147f20003.jpg</string>
			<key>id</key>
			<integer>238</integer>
			<key>name</key>
			<string>S-0124（80发1/1）彩色大丽王（庆泰）</string>
			<key>price</key>
			<integer>185</integer>
			<key>priceMk</key>
			<integer>205</integer>
			<key>sales</key>
			<integer>821</integer>
		</dict>
		<dict>
			<key>headImg</key>
			<string>goods/2016/1105/ff808081582e06130158333f8c350048.jpg</string>
			<key>id</key>
			<integer>227</integer>
			<key>name</key>
			<string>S-0040（100发）流光溢彩（天宇/集里）（一箱2个）</string>
			<key>price</key>
			<integer>236</integer>
			<key>priceMk</key>
			<integer>264</integer>
			<key>sales</key>
			<integer>738</integer>
		</dict>
	</array>
	<key>result</key>
	<string>OK</string>
</dict>
</plist>
