<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>content</key>
			<string>老司机你好，为什么股市最近如此震荡？</string>
			<key>createTime</key>
			<string>2017-01-11 16:02:28</string>
			<key>headImg</key>
			<string>user_img/20170104/1483520931564136237.jpg</string>
			<key>id</key>
			<integer>13</integer>
			<key>nickName</key>
			<string>领情</string>
			<key>parentId</key>
			<integer>0</integer>
			<key>replyContent</key>
			<string>受今日凌晨美联储宣布加息25个基点的消息影响，早盘三大股指小幅低开，随后市场呈现八二分化的态势，蓝筹板块在领……</string>
			<key>userId</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>content</key>
			<string>市场分化显著 量子通信、新零售接过反...</string>
			<key>createTime</key>
			<string>2017-01-11 15:59:46</string>
			<key>headImg</key>
			<string>user_img/20170104/1483520931564136237.jpg</string>
			<key>id</key>
			<integer>12</integer>
			<key>nickName</key>
			<string>谁是黄子明</string>
			<key>parentId</key>
			<integer>0</integer>
			<key>replyContent</key>
			<string></string>
			<key>userId</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>content</key>
			<string>你为何这么帅</string>
			<key>createTime</key>
			<string>2017-01-11 10:11:01</string>
			<key>headImg</key>
			<string>user_img/20170104/1483520931564136237.jpg</string>
			<key>id</key>
			<integer>11</integer>
			<key>nickName</key>
			<string>谁是黄子明</string>
			<key>parentId</key>
			<integer>0</integer>
			<key>replyContent</key>
			<string>天生的</string>
			<key>userId</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>content</key>
			<string>Ti wen nei ron g</string>
			<key>createTime</key>
			<string>2017-01-11 10:10:12</string>
			<key>headImg</key>
			<string>user_img/20170104/1483520931564136237.jpg</string>
			<key>id</key>
			<integer>10</integer>
			<key>nickName</key>
			<string>谁是黄子明</string>
			<key>parentId</key>
			<integer>0</integer>
			<key>replyContent</key>
			<string></string>
			<key>userId</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>content</key>
			<string>aaaaaaaaaaaaaaaaa</string>
			<key>createTime</key>
			<string>2016-12-30 12:39:43</string>
			<key>headImg</key>
			<string>user_img/20170104/1483520931564136237.jpg</string>
			<key>id</key>
			<integer>9</integer>
			<key>nickName</key>
			<string>领情</string>
			<key>parentId</key>
			<integer>0</integer>
			<key>replyContent</key>
			<string></string>
			<key>userId</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>content</key>
			<string>å¯å¯å¯å¯å¯å¯</string>
			<key>createTime</key>
			<string>2016-12-30 12:27:41</string>
			<key>headImg</key>
			<string>user_img/20170104/1483520931564136237.jpg</string>
			<key>id</key>
			<integer>8</integer>
			<key>nickName</key>
			<string>领情</string>
			<key>parentId</key>
			<integer>0</integer>
			<key>replyContent</key>
			<string></string>
			<key>userId</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>content</key>
			<string>jiushihihknxm</string>
			<key>createTime</key>
			<string>2016-12-30 10:09:12</string>
			<key>headImg</key>
			<string>user_img/20170104/1483520931564136237.jpg</string>
			<key>id</key>
			<integer>7</integer>
			<key>nickName</key>
			<string>领情</string>
			<key>parentId</key>
			<integer>0</integer>
			<key>replyContent</key>
			<string></string>
			<key>userId</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>content</key>
			<string>Hiya his han I</string>
			<key>createTime</key>
			<string>2016-12-28 16:03:11</string>
			<key>headImg</key>
			<string>user_img/20170104/1483520931564136237.jpg</string>
			<key>id</key>
			<integer>6</integer>
			<key>nickName</key>
			<string>领情</string>
			<key>parentId</key>
			<integer>0</integer>
			<key>replyContent</key>
			<string></string>
			<key>userId</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>content</key>
			<string>Dasdasdasdasdasdas</string>
			<key>createTime</key>
			<string>2016-12-27 10:59:19</string>
			<key>headImg</key>
			<string>user_img/20170104/1483520931564136237.jpg</string>
			<key>id</key>
			<integer>5</integer>
			<key>nickName</key>
			<string>领情</string>
			<key>parentId</key>
			<integer>0</integer>
			<key>replyContent</key>
			<string></string>
			<key>userId</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>content</key>
			<string>dsadasdasds</string>
			<key>createTime</key>
			<string>2016-12-27 10:12:13</string>
			<key>headImg</key>
			<string>user_img/20170104/1483520931564136237.jpg</string>
			<key>id</key>
			<integer>3</integer>
			<key>nickName</key>
			<string>领情</string>
			<key>parentId</key>
			<integer>0</integer>
			<key>replyContent</key>
			<string></string>
			<key>userId</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>result</key>
	<string>OK</string>
</dict>
</plist>
